.fixed_menu {
	display: block;
	width: 258px;
	min-height:1100px;
	/*padding-top: 15px;*/
	background-color: none;
}
#dummy_box { display: block; width: 258px; height: 1px; margin: 0; padding: 0; }
.fixed_menu #login_widget { margin-top: -1px; margin-bottom: 10px; }
.fixed_menu ul { margin: 0; padding: 0; }

.sidebar{
	margin-top:-1px;
	}
ul.accordion a { }
ul.accordion span { display:block;}
ul.accordion ul { display:none;}
ul.accordion > li {
	width: 258px;
	margin-bottom:10px;
	}
ul.accordion > li > h2 {
	list-style: none;
	display: block;
	width: 258px;
	height: 39px;
	line-height:37px;
	margin: 0;
	background: #f9f9f9 url(//www.orikomate.jp/contents/img/img/outline/bg_fixed_menu_h2.png) top left no-repeat;
	background-size: cover;
	border: 1px solid #e6e6e6;
	padding-top: 3px;

	text-align: left;
	color: #000;
	font-size: 13px;
	font-weight: lighter;
	}

ul.accordion > li > h2 span {
	font-weight:bold;
	line-height:20px;
	height:20px;
	margin-top:8px;
	margin-left:24px;
	border-left: 4px solid #eb5505;

	cursor:pointer;
	padding-left:12px;
	}

ul.accordion > li > ul{
	width: 258px;
	display: none;
	margin-bottom: 10px;
	padding-bottom:10px;
	list-style-position: inside;

	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	}
ul.accordion > li > ul > li {

	background: url("//www.orikomate.jp/user_data/packages/prototype/img/header/header.png") no-repeat 5px -849px;
	padding-top: 10px;
	text-indent: 0px;
	padding-left: 30px;
	}

ul.accordion > li > ul > li > a {

	font-size: 13px;
	color: #000;
	text-decoration: none;
	margin-left: 10px;
	}

ul.accordion > li > ul > li > a:hover {
	color: #eb5505;
	}


.inner_menu_block {
	position: absolute;
	display: none;
	top: 0;
	left: 258px;
	width: 876px;
	background: url(//www.orikomate.jp/contents/img/img/outline/bg_inner_menu_block.png) top left repeat-y;
}

.fixed_menu ul li ul.inner_menu_block li {
	float: left;
	width: 210px;
	height: 29px;
	margin: 0;
	padding: 7px 0 0 30px;
	background: url(//www.orikomate.jp/contents/img/img/outline/bg_inner_menu_block_li.png) top left no-repeat;
	background-size: 240px 36px;
}
.fixed_menu ul li ul.inner_menu_block li#fixed_menu_extra { width: 280px; }
.inner_menu_block li a { color: #FFF; font-size: 16px; text-decoration: none; }
.inner_menu_block li a:hover { text-decoration: underline; }

.fixed_menu.fixed	{
	position:fixed;
	top:17px;
}
.fixed_menu_qa {
	display: block;
	width: 258px;
	height: 270px;
	background-color: #FFF;
}
.fixed_menu_qa #login_widget { margin-top: -2px; margin-bottom: 10px; }
.fixed_menu_qa h2 {
	list-style: none;
	display: block;
	width: 258px;
	height: 29px;
	line-height:27px;
	margin: 0;
	background: #f9f9f9 url(//www.orikomate.jp/contents/img/img/outline/bg_fixed_menu_h2.png) top left no-repeat;
	background-size: cover;
	border: 3px solid #e6e6e6;
	padding-top: 3px;
	padding-left:18px;
	text-align: left;
	color: #4c4c4c;
	font-size: 13px;
	font-weight: lighter;
}
.fixed_menu_qa ol {
	display: block;
	margin-bottom: 40px;
    list-style-position: inside;
}
.fixed_menu_qa ol li:before {
	content: ">";
	color: #656565;
	font-size: 12px;
	margin-left: 15px;
}
.fixed_menu_qa ol li {
	margin-top: 10px;
    padding-left: 2.1em;
    text-indent: -2.1em;
}
.fixed_menu_qa ol li a {
	font-size: 16px;
	color: #656565;
	text-decoration: none;
	margin-left: 10px;
}
.fixed_menu_qa ol li a:hover {
	color: #eb5505;
}
.fixed_menu_qa.fixed	{
	position:fixed;
	top:15px;
}

.outline_menu h2 {
	font-size: 13px;
	text-align: left;
	background-color: #cccccc;
	height: 41px;
	color: #4c4c4c;
	border-top: 4px solid #eb5505;
	line-height:42px;
	font-weight: lighter;
}
.outline_menu ol {
	display: block;
	margin-bottom: 40px;
    list-style-position: inside;
}
.outline_menu ol li:before {
	content: ">";
	color: #656565;
	font-size: 12px;
	margin-left: 15px;
}
.outline_menu ol li {
	margin-top: 10px;
    padding-left: 2.1em;
    text-indent: -2.1em;
}
.outline_menu ol li a {
	font-size: 16px;
	color: #656565;
	text-decoration: none;
	margin-left: 10px;
}
.outline_menu ol li a:hover {
	color: #eb5505;
}

.top-attention-wrap{
	width: 1136px;
	min-width: 1136px;
	margin:0 auto;
	}


.top-attention01waku{
	float:left;
	vertical-align:top;
	margin-right:13px;
	display: inline-block;
	width:258px;
	margin-bottom:20px;
	}

.top-attention01{
	border:2px solid #aea9a9;
	}
.top-attention01in{
	width:240px;
	margin:0 auto;
	}

.top-attention01in h4 {
	display:block;
	height:205px;
	width:310px;
	background: url("//www.orikomate.jp/user_data/packages/prototype/img/header/header.png") no-repeat 30px 15px;
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
	}
.top-attention01in h5 {
	color:#000;
	font-weight:bold;
	text-align:left;
	padding:0 0 0px 10px;
	border-bottom:1px solid #000;
	border-left: 6px solid #000;
	}

.top-attention01in p {
	font-size: 13px;
	line-height:1.9em;
	color: #000;
	text-align:left;
	margin-top: 10px;
	margin-bottom: 20px;
	}
.top-attention01in p a,.top-attention01in p a:visited{
	color:#0066aa;
	}
.top-attention01in p a:hover{
	color:#eb5505;
	}

.top-attention01right{
	width:840px;
	float:right;
	}
.top-attention02{
	background-color: #fbfbfb!important;
	vertical-align:top;
	margin-right:12px;
	width:400px;
	display: inline-block;
	}
.top-attention02 h4{
	padding-left:20px;
	margin-bottom:10px;

	position:relative;
	padding:9px;
	padding-left:15px;
	font-weight: bold;
	font-size: 15px;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-left: 5px solid #eb5505;
	}
.top-attention02 h5 {
	position: relative;
	padding-left:20px;
	padding-bottom: .5em;
	border-bottom: 2px solid #ccc;
	margin-bottom:10px;
	}
.top-attention02 h5::after {
	position: absolute;
	bottom: -2px;
	left: 0;
	z-index: 2;
	content: '';
	width: 80%;
	height: 2px;
	background-color: #EA5514;
	}
.top-attention02 p {
	font-size: 13px;
	line-height:1.9em;
	color: #000;
	text-align:left;
	padding-left:10px;
	padding-right:10px;
	margin-top: 10px;
	margin-bottom: 20px;
	}
.top-attention03{
	background-color: #fbfbfb;
	vertical-align:top;
	width:415px;
	display: inline-block;
	padding-bottom:10px;
	}
.top-attention03 h4{
	padding-left:20px;
	margin-bottom:10px;

	position:relative;
	padding:9px;
	padding-left:15px;
	font-weight: bold;
	font-size: 15px;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-left: 5px solid #eb5505;
	}
.top-attention03 h5 {
	position: relative;
	padding-left:20px;
	padding-bottom: .5em;
	border-bottom: 2px solid #ccc;
	margin-bottom:10px;
	}
.top-attention03 h5::after {
	position: absolute;
	bottom: -2px;
	left: 0;
	z-index: 2;
	content: '';
	width: 80%;
	height: 2px;
	background-color: #EA5514;
	}
.top-attention03 p {
	font-size: 13px;
	line-height:1.9em;
	color: #000;
	text-align:left;
	padding-left:10px;
	padding-right:10px;
	margin-top: 10px;
	margin-bottom: 20px;
	}
.top-attention_cont{
	margin:0 auto;
	text-align:center;
	width:380px;
	}
.top-attention01right01{
	width:840px;
	margin-bottom:20px;
	}

.top01-attention02{
	margin-top:20px;
	background-color: #fbfbfb!important;
	vertical-align:top;
	width:100%;
	}
.top01-attention02in{
	vertical-align:top;
	width:415px;
	display: inline-block;
	}

.top01-attention02 h4{
	padding-left:20px;
	margin-bottom:10px;

	position:relative;
	padding:9px;
	padding-left:15px;
	font-weight: bold;
	font-size: 15px;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-left: 5px solid #eb5505;
	}
.top01-attention02 h5 {
	position: relative;
	padding-left:20px;
	padding-bottom: .5em;
	border-bottom: 2px solid #ccc;
	margin-bottom:10px;
	}
.top01-attention02 h5::after {
	position: absolute;
	bottom: -2px;
	left: 0;
	z-index: 2;
	content: '';
	width: 80%;
	height: 2px;
	background-color: #EA5514;
	}
.top01-attention02in h5 {
	position: relative;
	padding-left:20px;
	padding-bottom: .5em;
	border-bottom: 2px solid #ccc;
	margin-bottom:10px;
	}
.top01-attention02in h5::after {
	position: absolute;
	bottom: -2px;
	left: 0;
	z-index: 2;
	content: '';
	width: 80%;
	height: 2px;
	background-color: #EA5514;
	}
.top01-attention02in p {
	font-size: 13px;
	line-height:1.9em;
	color: #000;
	text-align:left;
	padding-left:10px;
	padding-right:10px;
	margin-top: 10px;
	margin-bottom: 20px;
	}
.top01-attention02in img{
	width:100%;
	}
.top01-attention02in table { width: 340px; margin: 0 auto; font-size: 12px; border-collapse: collapse; padding-bottom:10px; }
.top01-attention02in table th { border: 1px solid #9FA0A0; }
.top01-attention02in table td { border: 1px solid #9FA0A0; }


.top01-attention03{
	margin-top:20px;
	background-color: #fff;
	vertical-align:top;
	width:100%;
	}
.top02-attention01in{
	vertical-align:top;
	width:840px;
	display: inline-block;
	}
.top02-attention01in p{
	width:820px;
	margin:0 auto;
	font-size:13px;
	line-height:1.6em;
	}
.top02-attention02in{
	width:820px;
	display:block;
	margin:0px 0px 10px 0px;
	}
.top02-attention02in ul{
	overflow:hidden;
	width:820px;
	display:block;
	}

.top02-attention02in ul li{
	float:left;
	width:400px;
	padding:10px 0px 0px 10px;
	}
.top02-attention02in ul li h5{
	word-wrap: break-word;
	padding:10px;
	}
.top02-attention02in ul li p{
	word-wrap: break-word;
	}

table.toplinktable{
	border: 0px solid #e5e5e5;
	}
table.toplinktable tr td{
	border: 0px solid #e5e5e5;
	}


#side_calendar{
        background-image: url(none);
	}
#footer_calender{
 line-height:1.9em;
  background-image: url(none);
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding: 0px 0px 0px 0px;
	}
#footer_calender h3{
	display:none;
	}
.block_body{
	width:228px;
	text-align:center;
	}
#footer_calender table {
  background: #ffffff;
  border: none;
  margin: 0 auto 5px;
  font-size: 13px;
  color: #999999;
}
#footer_calender th {
  padding: 1px 2px;
  background: #ffffff;
  border: none;
  text-align: center;
}
#footer_calender table td {
  padding: 1px 2px;
  border-top: 1px solid #ccc;
  border-right: none;
  text-align: center;
	}
#footer_calender table .month {
	margin-top:10px;
	text-align: center;
	font-size: 16px;
	font-weight:bold;
	}
#footer_calender .off {
    color: #ff0000;
}
#footer_calender .today {
	background-color: #FFF99D;
	color: #0066cc;
	font-weight: bold;
	}
#footer_calender p.information{
	margin-top:0px;
	color:#ff0000;
	text-align:left;
	font-size:13px;
	}
.calendar_frame{
	display:block;
	vertical-align:top;
	}




#lPcontact {
	position:relative;
	width:840px;
	min-height:259px;
	background-image: url("//www.orikomate.jp/contents/img/lp/contact.jpg");
	background-size:content;
}


#lPcontact a {
	position:absolute;
	bottom:15px;
	right:40px;
	display:block;
	width:486px;
	min-height:113px;
	/*background-image: url("//www.orikomate.jp/contents/img/lp/contact_btn.png");*/
	background-image: url("//orikomate0.labnet.or.jp/contents/img/lp/contact_btn.png");
}


#lPcontact a:hover {
	/*background-image: url("//www.orikomate.jp/contents/img/lp/contact_btn_ho.png");*/
	background-image: url("//orikomate0.labnet.or.jp/contents/img/lp/contact_btn_ho.png");
}

.of_h {
	overflow:hidden!important;
	text-indent:100%;
	white-space:nowrap;
	}






.extra-height { height: 700px; }
#outline {
	width: 840px;
	margin-left: 0px;
}
#outline h3 {
	color: #000000;
	text-align: left;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.7em;
	height: auto;
	margin: 0;
	padding: 0;
	border: none;
	border-top: 0px solid #000000;
	border-bottom: 0px solid #000000;
	background-color: transparent;
	margin-bottom:5px;
}
#outline span {
	display: block;
	height: 25px;
	width: 100%;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
#outline h4 {
	padding-left:20px;
	margin-bottom:10px;
	position:relative;
	padding:9px;
	padding-left:15px;
	font-weight: normal;
	font-size: 16px;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-left: 5px solid #eb5505;
	}

#outline h5 {
	background-color: none;
	border-bottom: 3px solid #eb5e24;
	padding:10px 0px 5px 0px;
	font-size: 16px;
	line-height: 1.8em;
	font-weight:normal;
	margin-top:0px;
	margin-bottom:15px;
	}
#outline h5 span{
	background-color: #eb5e24;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color:#ffffff;
    display:inline;
	font-size: 15px;
    padding:2px 5px 2px 8px;
    margin-right:5px;
    }
#outline h6 {
	background-color: #f1f1f1;
	color: #231815;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
    padding:10px 20px;
	}

#outline img {
	margin-bottom: 30px;
}
#outline p {
	color: #000;
	font-size: 16px;
	font-weight: 100;
	line-height: 1.8em;
	margin-bottom:1.5em;
	}
#outline p+p {
	margin-bottom:1em;
    }
#outline b{
    font-weight:bold;
    }
#outline .aligntext{
    line-height:1.7em;
    overflow: hidden;
    }
.outline_enteryin{
    margin-left:20px;
    letter-spacing:0.03em;
	}
.outline_enteryin b{
    font-weight:bold;
    }
.outline_enteryin ul{
    font-size:0px;
    margin:0;
    padding:0;
	overflow-x: hidden;
	overflow-y: hidden;
    width:100%;
    }
.outline_enteryin ul li{
    font-size:16px;
    line-height:1.8em;
    margin:0;
    padding:0;
    padding-left: 1em;
    text-indent: -1em;
    width:auto;
    margin-bottom:0.5em;
    }

.outline_enteryin ul li .aligntext{
    padding-left: 0em;
    text-indent: 0em;
    }

#outline #quote {
	width: 100%;
	display: block;
	text-align: right;
	font-size: 12px;
}
#outline .p_center {
	text-align:center;
	font-size: 13px;
	line-height:1.9em;
}
#outline .qa_list {
	display: block;
	width: 100%;
	margin-top:20px;
}
#outline .qa_list ul {
	overflow: visible;
	width: 700px;
	margin: 0;
}
#outline .qa_list .question {
	display: block;
	min-height: 96px;
	padding-left: 80px;
	width: 760px;
	line-height: 28px;
	font-size: 13px;
	background: url(//www.orikomate.jp/contents/img/img/outline/qa_bg_q.png) no-repeat top left;
	background-size: 850px 103px;
	cursor: pointer;
}
#outline .qa_list .question:hover {
	color: #eb5505;
}
#outline .qa_list .answer li {
	display: block;
	min-height: 96px;
	padding-left: 80px;
	width: 620px;
	line-height: 28px;
	font-size: 13px;
	background: url(//www.orikomate.jp/contents/img/img/outline/qa_bg_a.png) no-repeat top left;
	background-size: 700px 82px;
	margin-bottom:20px;
}
#outline .qa_list .answer form {
	/* display: block; */
	display: none;

	width: 680px;
	height: 50px;
	background-color: #e5e5e5;
	border-radius: 10px;        /* CSS3草案 */
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 10px;   /* Firefox用 */
	padding: 30px 0 0 20px;
	margin-bottom: 30px;
}

#outline .qa_list .answer2 form {
	display:none;
	}
#outline .qa_list .answer form p {
	margin-right: 250px;
}
#outline .qa_list .answer form input {
	width: 70px;
}

/* 面接 */
.outline_entery img{
	border: 5px solid #eeeeee;
	}
#template-dl-list {
	width: 100%;
	border-collapse: collapse;
	margin: 0 auto;
	margin-bottom: 40px;
	font-size: 16px;
	border: 1px solid #e6e6e6;
}
#template-dl-list tr th, #template-dl-list tr td {  }
#template-dl-list tr th { margin: 0; padding: 0 0 0 10px; height: 50px; font-size:13px; font-weight:bold;}
#template-dl-list tr td { margin: 0; padding: 10px; height: 55px; font-size:13px; }
#template-dl-list tr th img { margin: 0; padding: 0; clear: both; }
#template-dl-list tr th:first-child { width: 290px; }
#template-dl-list tr td a {
	display:block;
	color:#fff;
	height:50px;
	line-height:50px;

	text-align:center;
    	border-radius:5px;
    	border:1px solid #364ea5;
    	background: -moz-linear-gradient(
    		top,
    		#5470dc 0%,
    		#415dcb 100%);
    	background: -webkit-gradient(
    		linear, left top, left bottom,
    		from(#5470dc),
    		to(#415dcb));
    	background:linear-gradient(
    		top,
    		#5470dc 0%,
    		#415dcb 100%);
/*IE6 IE7 */
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#5470dc, endcolorstr=#415dcb));
/* IE8 IE9 */
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#5470dc, endcolorstr=#415dcb))";
zoom: 1;
background: linear-gradient(to bottom, #5470dc, #415dcb);/* IE10+, W3C */
    }

#template-dl-list tr td a:hover {
    filter:alpha(opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;
    }
#profile {
	width: 840px;
	margin-left: 0px;
}
#profile h2 {
	color: #000000;
	text-align: center;
	font-size: 36px;
	font-weight: normal;
	line-height: 2.4em;
	height: 82px;
	margin-bottom:20px;
	padding: 0;
	border: none;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: transparent;
}

#profile h3 {
	color: #4c4c4c;
	text-align: left;
	font-size: 36px;
	font-weight: normal;
	line-height: 2.4em;
	width: 100%;
	height: 70px;
	margin: 0;
	padding: 0;
	border: none;
}


#profile span {
	text-indent: -9999px;
	display: block;
	height: 1px;
	width: 100%;
}
#profile table {
	font-size: 13px;
	border: none;
	border-top: 1px solid #CCCCCC;
}
#profile table th,#profile table td {
	font-size: 13px;
	color: #4c4c4c;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #CCCCCC;
	padding: 0;
	height: 36px;
}
#profile table th {
	font-size: 13px;
	font-weight: bold;
	width: 120px;
	padding-left: 10px;
}
#profile table td {
	font-size: 13px;
	line-height:1.9em;
	color: #000;
	padding: 10px 0;
}
#profile table td div {
	padding-left: 54px;
	border-left: 0px solid #dcdddd;
    display: table-cell;
    vertical-align: middle;
	height: 36px;
}
#privacy {
	width: 840px;
	margin-left: 0px;
}

#privacy h2 {
	color: #000000;
	text-align: center;
	font-size: 36px;
	font-weight: normal;
	line-height: 2.4em;
	height: 82px;
	margin-bottom:20px;
	padding: 0;
	border: none;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: transparent;
}

#privacy h3 {
	color: #4c4c4c;
	text-align: left;
	font-size: 36px;
	font-weight: normal;
	line-height: 2.4em;
	width: 100%;
	height: 70px;
	margin: 0;
	padding: 0;
	border: none;
}
#privacy span {
	text-indent: -9999px;
	display: block;
	height: 1px;
	width: 100%;
}
#privacy p {
	font-size: 13px;
	line-height:1.9em;
	color: #000;
	margin-bottom: 20px;
}
#privacy ol {
	color: #4c4c4c;
	font-size: 14px;
}
#privacy ol li {
	list-style-type: decimal;
	list-style-position: inside;
	margin-bottom: 35px;
}
#privacy ol li div {
	margin-left: 18px;
}
#privacy #enactment {
	color: #4c4c4c;
	font-size: 14px;
	display: block;
	text-align:right;
	margin-bottom:20px;
}
#notation {
	width: 840px;
	margin-left: 0px;
}
#notation h2 {
	color: #000000;
	text-align: center;
	font-size: 36px;
	font-weight: normal;
	line-height: 2.4em;
	height: 82px;
	margin-bottom:20px;
	padding: 0;
	border: none;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: transparent;
}
#notation h3 {
	color: #4c4c4c;
	text-align: left;
	font-size: 36px;
	font-weight: normal;
	line-height: 2.4em;
	width: 100%;
	height: 70px;
	margin: 0;
	padding: 0;
	border: none;
}
#notation span {
	text-indent: -9999px;
	display: block;
	height: 1px;
	width: 100%;
}
#notation p {
	font-size: 13px;
	line-height:1.9em;
	color: #000;
	margin-bottom: 20px;
}
#notation table tbody tr th {
	background-color: #f4f4f4;
	font-size:13px;
	width: 300px;
}

#notation table tbody tr td {
	font-size: 13px;
	line-height:1.9em;
	color: #000;
}

#user_terms {
	width: 840px;
	margin-left: 0px;
}
#user_terms span {
	text-indent: -9999px;
	display: block;
	height: 1px;
	width: 100%;
}
#user_terms p {
	font-size: 13px;
	line-height:1.9em;
	color: #000;
	margin-bottom: 20px;
}
#user_terms h2 {
	color: #000000;
	text-align: center;
	font-size: 36px;
	font-weight: normal;
	line-height: 2.4em;
	height: 82px;
	margin-bottom:20px;
	padding: 0;
	border: none;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: transparent;
}

#user_terms h3 {
	border-top: 1px dashed #4c4c4c;
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	padding-top: 20px;
}

#user_terms h4{
	display:block;
	padding-left:20px;
	margin-bottom:10px;

	position:relative;
	padding:9px;
	padding-left:15px;
	font-weight: bold;
	font-size: 15px;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-left: 5px solid #eb5505;
	}

#user_terms h6 {
	background-color: #f5f5f5;
	padding:10px 0px 10px 15px;
	font-size: 13px;
	line-height: 1.2em;
	font-weight:bold;
	margin-top:15px;
	margin-bottom:10px;
	}

#user_terms ul{
	margin-left:0px;
	}

#user_terms ul li{
	color:#000;
	font-size: 13px;
	line-height:1.9em;
	}

#disaster {
	width: 840px;
	margin-left: 0px;
}

#disaster h2 {
	color: #000000;
	text-align: center;
	font-size: 36px;
	font-weight: normal;
	line-height: 2.4em;
	height: 82px;
	margin-bottom:20px;
	padding: 0;
	border: none;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: transparent;
}

#disaster h3 {
	color: #4c4c4c;
	text-align: left;
	font-size: 36px;
	font-weight: normal;
	line-height: 2.4em;
	width: 100%;
	height: 70px;
	margin: 0;
	padding: 0;
	border: none;
}
#disaster span {
	text-indent: -9999px;
	display: block;
	height: 1px;
	width: 100%;
}
#disaster p {
	font-size: 13px;
	line-height:1.9em;
	color: #000;
	margin-bottom: 20px;
}
#disaster h4 {
	padding-left:20px;
	margin-bottom:10px;

	position:relative;
	padding:9px;
	padding-left:15px;
	font-weight: bold;
	font-size: 15px;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-left: 5px solid #eb5505;
	}

#disaster h5 {

	color: #231815;
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 20px;
	}

#disaster h6 {
	background-color: #f5f5f5;
	padding:10px 0px 10px 15px;
	font-size: 13px;
	line-height: 1.2em;
	font-weight:bold;
	margin-top:15px;
	margin-bottom:10px;
	}
.profile_menu {
	width: 258px;
	height: 420px;
	background-image: url(//www.orikomate.jp/contents/img/img/outline/profile_menu_bg.png);
}
.profile_menu ol {
	display: block;
	margin-bottom: 40px;
}
.profile_menu ol li:before {
	content: url(//www.orikomate.jp/contents/img/img/outline/profile_menu_header.png);
	color: #656565;
	font-size: 12px;
	margin-left: 15px;
}
.profile_menu ol li {
	height: 50px;
	padding-top: 32px;
}
.profile_menu ol li a {
	font-size: 16px;
	color: #656565;
	text-decoration: none;
	margin-left: 5px;
}
.profile_menu ol li a:hover {
	color: #eb5505;
}
#detail_sideleft{
	width:570px;
	float:left;
	margin-right:10px;
	}
#detail_sideleft p{
	margin-bottom:0px;
	}
#detail_sideleft img{
	margin-bottom: 0px !important;
	}
#detail_sideleft h4{
	font-size:13px;
	margin-bottom:0px;
	border-right: 1px none #e6e6e6;
	}

.sideleftbox{
	width:570px;
	background: #eeeeee;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom:10px;
	}

a.h4link{
	color:#000;
	font-size:12px;
	position:absolute;
	right:15px;
	padding-left:40px;
	background: url("//www.orikomate.jp/user_data/packages/prototype/img/header/header.png") no-repeat 5px -863px;
	}

a.h4link:hover{
	color:#eb5e24;
	text-decoration: underline;
	}

.sideleftin{
	font-size:12px;
	padding:5px;
	word-wrap: break-word;
	}

.sideleftinc{
	position:relative;
	padding:10px;
	background: #fff;
	height:162px;
	}


.sideboxunder a{
  border: 2px solid #fff;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
	display:block;
	width:555px;
	height:179px;
	position:absolute;
	left:0;
	top:0;
	}
.sideboxunder a:hover{
	z-index:2;
	border: 2px solid #eb5e24;
	}

.sideboxunder a:hover + .sideboxlink{
	color:#eb5e24;
	}
.sideleftinc_right{
	position:absolute;
	top:10px;
	left:220px;
	margin-right:10px;
	font-size:12px;
	line-height:1.9em;
	}
.sideleftinc_right b{
	display:block;
	margin-bottom:15px;
	}

.sideboxlink{
	z-index:1;
	font-size:12px;
	position:absolute;
	right:10px;
	bottom:10px;
	background: url("//www.orikomate.jp/user_data/packages/prototype/img/header/header.png") no-repeat 5px -863px;
	padding-left: 40px;
	cursor: pointer;
	}

.sideboxlink:hover{
	color:#eb5e24;
	}

.sideleftinc2{
	}

.sideleftinc2 ul{
	overflow:hidden;
	width:570px;
	padding:0px;
	margin-bottom:-4px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;

	font-size: 0px;
	}

.sideleftinc2 ul li{
	display: inline-block;
	background: #fff;
	width:275px;
	margin-top:0px;
	margin-bottom:5px;
	margin-right:10px;
	list-style:none;

	}
.sideleftinc2 ul li a{
	border: 2px solid #eeeeee;
	height:40px;
	line-height:40px;
	display:block;

	background: url("//www.orikomate.jp/user_data/packages/prototype/img/header/header.png") no-repeat -5px -853px;

	font-size:12px;
	color:#000;
	padding-left:30px;
	padding-right:10px;
	}

.sideleftinc2 ul li a:hover{
	color:#eb5e24;
	border: 2px solid #eb5e24;
	}

#detail_sideright{
	width:260px;
	float:left;
	}

#detail_sideright h2{
	list-style: none;
	display: block;
	height: 39px;
	line-height:37px;
	margin: 0;
	background: #f9f9f9;
	background-size: cover;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	padding-top: 3px;

	text-align: left;
	color: #000;
	font-size: 13px;
	font-weight: normal;
	}

#detail_sideright h2 span{
	color:#000;
	font-weight:bold;
	line-height:20px;
	height:20px;
	margin-top:8px;
	margin-left:14px;
	border-left: 4px solid #eb5505;
	padding-left:0px;

	text-indent: 1em;
	white-space: normal;
	overflow: visible;
	}

.siderightbox{
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom:10px;
	}
.siderightin{
	line-height:1em;
	font-size:12px;
	padding:10px;
	word-wrap: break-word;
	}
.siderightin img{
	margin-bottom: 0px !important;
	padding-bottom: 0px;
	}

.siderightin a{
	display:block;
	color:#fff;
	height:40px;
	line-height:40px;

	padding-left:20px;
	text-align:left;
    	border-radius:5px;
    	border:1px solid #d33203;
    	background: -moz-linear-gradient(
    		top,
    		#eb5e24 0%,
    		#d33303 100%);
    	background: -webkit-gradient(
    		linear, left top, left bottom,
    		from(#eb5e24),
    		to(#d33303));
    	background:linear-gradient(
    		top,
    		#eb5e24 0%,
    		#d33303 100%);


	/*IE6 IE7 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#eb5e24, endcolorstr=#d33303));
	/* IE8 IE9 */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#eb5e24, endcolorstr=#d33303))";
	zoom: 1;
	background: linear-gradient(to bottom, #eb5e24, #d33303);/* IE10+, W3C */
	}

.siderightin a:hover{
    filter:alpha(opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;
    }















.sideleftinc3 #product h5{
	text-align:left;
	font-size:12px;
	}

.sideleftinc3 #calendar h5{
	text-align:left;
	font-size:12px;
	}
.sideleftinc3 ul{
	margin:0px;
	letter-spacing: -0.4em;
	}

.sideleftinc3 ul li{
	overflow:hidden;
	height:500px;
	margin-top:0px;
	margin-bottom:5px;
	background: #fff;
	width:274px;
	display: inline-block;
	letter-spacing: normal;

	}

.sideleftinc3 ul li:nth-child(odd){
	margin-right:9px;
	}

.mainmap{
	font-size:0px;
	line-height:0px;
	border:0px solid #eb5e24;
	background: url(//www.orikomate.jp/contents/img/map.jpg) 0px 0px no-repeat;
	}
.mainmapin{
	position: relative;
	width:832px;
	height:570px;
	}



.mainmapin h2{
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
	margin:0;
	padding:0;
	line-height:0px;
	position: absolute;
	text-align:left;
	top:30px;
	left:60px;
	}

label{
	font-size:12px;
	color: #000;
	padding: 10px;
	margin: 0;
	cursor:pointer;
	}
label.tokyolabel{
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
	width:150px;
	height:85px;
	position: absolute;
	bottom:150px;
	right:561px;
	}
label.kanagawalabel{
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
	width:130px;
	height:151px;
	position: absolute;
	bottom:7px;
	right:610px;
	}
label.saitamalabel{
	line-height: 0;
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
	width:175px;
	height:55px;
	position: absolute;
	bottom:235px;
	right:504px;
	}
label.chibalabel{
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
	width:150px;
	height:183px;
	position: absolute;
	bottom:39px;
	right:413px;
	}
label.ibaragilabel{
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
	width:140px;
	height:182px;
	position: absolute;
	bottom:223px;
	right:388px;
	}
label.totigilabel{
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
	width:158px;
	height:116px;
	position: absolute;
	bottom:281px;
	right:476px;
	}
label.gunmalabel{
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
	width:158px;
	height:115px;
	position: absolute;
	bottom:301px;
	right:610px;
	}

/* labelhover */
label.tokyolabel:hover{
	background: url(../img/map_kt.png) 0px -491px no-repeat;
	background-size: auto;
	}
label.kanagawalabel:hover{
	background: url(../img/map_kt.png) 0px -586px no-repeat;
	background-size: auto;
	}
label.saitamalabel:hover{
	background: url(../img/map_kt.png) -1px -752px no-repeat;
	background-size: auto;
	}
label.chibalabel:hover{
	background: url(../img/map_kt.png) 0px -840px no-repeat;
	background-size: auto;
	}
label.ibaragilabel:hover{
	background: url(../img/map_kt.png) -1px -1043px no-repeat;
	background-size: auto;
	}
label.totigilabel:hover{
	background: url(../img/map_kt.png) -1px -1248px no-repeat;
	background-size: auto;
	}
label.gunmalabel:hover{
	background: url(../img/map_kt.png) -1px -1369px no-repeat;
	background-size: auto;
	}
input[type="checkbox"].on-off{
	display: none;
	}
.mapmenu ul {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	list-style: none;
	font-size:0px;
	}
.mapmenu ul li {
	padding:0;
	margin:0;
	vertical-align: baseline;
	font-size:13px;
	line-height:1.7em;

	overflow-x: hidden;
	overflow-y: hidden;
	}
.mapmenu ul li a{
	padding:0;
	margin:0;
	color:#1b47ff;
	font-weight:normal;
	}
.mapmenu ul li a:hover{
	color:#eb5505;
	text-decoration: underline;
	}




input[type="checkbox"].on-off + ul{
	height: 0;
	overflow: hidden;
	}
input[type="checkbox"].on-off:checked + ul{
	height: 100%;
	}

.mapmenu ul.kanagawa{
	position: absolute;
	bottom:20px;
	right:10px;

	width:300px;
	padding:5px 0px 0px 15px;
	min-height:430px;
	max-height:430px;

	border: 3px solid #ff6c00;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	background-color: #faf8f0;
	display:block;
	}

.mapmenu ul.kanagawa li.m_kawasaki{
	font-size:0px;
	}
.mapmenu ul.kanagawa li.m_kawasaki ul{
	font-size:13px;
	line-height:1.5em;
	overflow: visible;
	}
.mapmenu ul.kanagawa li.m_kawasaki ul li{
	line-height:1.5em;
	height:20px;
	float:left;
	width:100px;
	}
.mapmenu ul.kanagawa li.m_yokohama{
	font-size:0px;
	}
.mapmenu ul.kanagawa li.m_yokohama ul{
	font-size:13px;
	line-height:1.5em;
	overflow: visible;
	}
.mapmenu ul.kanagawa li.m_yokohama ul li{
	line-height:1.5em;
	height:20px;
	float:left;
	width:95px;
	}
.mapmenu ul.kanagawa li.m_yokohama ul li:nth-child(6){
	width:110px;
	}

.mapmenu ul.kanagawa li.m_kenhoku{
	font-size:0px;
	}
.mapmenu ul.kanagawa li.m_kenhoku ul{
	font-size:13px;
	line-height:1.5em;
	overflow: visible;
	}
.mapmenu ul.kanagawa li.m_kenhoku ul li{
	line-height:1.5em;
	height:20px;
	float:left;
	width:100px;
	}
.mapmenu ul.kanagawa li.m_kennaka{
	font-size:0px;
	}
.mapmenu ul.kanagawa li.m_kennaka ul{
	font-size:13px;
	line-height:1.5em;
	overflow: visible;
	}
.mapmenu ul.kanagawa li.m_kennaka ul li{
	line-height:1.5em;
	height:20px;
	float:left;
	width:75px;
	}

.mapmenu ul.tokyo{
	position: absolute;
	bottom:20px;
	right:10px;

	width:300px;
	padding:5px 0px 0px 15px;
	min-height:430px;
	max-height:430px;

	border: 3px solid #ff6c00;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	background-color: #faf8f0;
	display:block;
	}

.mapmenu ul.tokyo li.m_tokyo23toubu{
	font-size:0px;
	}
.mapmenu ul.tokyo li.m_tokyo23toubu ul{
	line-height:1.5em;
	font-size:13px;
	overflow: visible;
	}
.mapmenu ul.tokyo li.m_tokyo23toubu ul li{
	line-height:1.5em;
	height:20px;
	float:left;
	width:75px;
	}
.mapmenu ul.tokyo li.m_tamatiikihokubu{
	font-size:0px;
	}
.mapmenu ul.tokyo li.m_tamatiikihokubu ul{
	font-size:13px;
	overflow: visible;
	}
.mapmenu ul.tokyo li.m_tamatiikihokubu ul li{
	height:20px;
	float:left;
	width:75px;
	}







.mapmenu ul.saitama{
	position: absolute;
	bottom:20px;
	right:10px;

	width:300px;
	padding:5px 0px 0px 15px;
	min-height:430px;
	max-height:430px;

	border: 3px solid #ff6c00;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	background-color: #faf8f0;
	display:block;
	}

.mapmenu ul.saitama li.m_saitamatone{
	font-size:0px;
	}
.mapmenu ul.saitama li.m_saitamatone ul{
	font-size:13px;
	line-height:1.5em;
	overflow: visible;
	}
.mapmenu ul.saitama li.m_saitamatone ul li{
	line-height:1.5em;
	height:20px;
	float:left;
	width:75px;
	}
.mapmenu ul.saitama li.m_saitamasaitamashi{
	font-size:0px;
	}
.mapmenu ul.saitama li.m_saitamasaitamashi ul{
	font-size:13px;
	line-height:1.5em;
	overflow: visible;
	}
.mapmenu ul.saitama li.m_saitamasaitamashi ul li{
	line-height:1.5em;
	height:20px;
	float:left;
	width:150px;
	}

.mapmenu ul.chiba{
	position: absolute;
	bottom:20px;
	right:10px;

	width:300px;
	padding:5px 0px 0px 15px;
	min-height:430px;
	max-height:430px;

	border: 3px solid #ff6c00;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	background-color: #faf8f0;
	display:block;
	}

.mapmenu ul.chiba li.m_chibashi{
	font-size:0px;
	}
.mapmenu ul.chiba li.m_chibashi ul{
	font-size:13px;
	line-height:1.5em;
	overflow: visible;
	}
.mapmenu ul.chiba li.m_chibashi ul li{
	line-height:1.5em;
	height:20px;
	float:left;
	width:100px;
	}

.mapmenu ul.chiba li.m_chibakatunan{
	font-size:0px;
	}
.mapmenu ul.chiba li.m_chibakatunan ul{
	font-size:13px;
	line-height:1.5em;
	overflow: visible;
	}
.mapmenu ul.chiba li.m_chibakatunan ul li{
	line-height:1.5em;
	height:20px;
	float:left;
	width:75px;
	}

.mapmenu ul.ibaragi{
	position: absolute;
	bottom:20px;
	right:10px;

	width:300px;
	padding:5px 0px 0px 15px;
	min-height:430px;
	max-height:430px;

	border: 3px solid #ff6c00;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	background-color: #faf8f0;
	display:block;
	}

.mapmenu ul.ibaragi li.m_ibaragikenhoku{
	font-size:0px;
	}
.mapmenu ul.ibaragi li.m_ibaragikenhoku ul{
	font-size:13px;
	line-height:1.5em;
	overflow: visible;
	}
.mapmenu ul.ibaragi li.m_ibaragikenhoku ul li{
	line-height:1.5em;
	height:20px;
	float:left;
	width:100px;
	}

.mapmenu ul.totigi{
	position: absolute;
	bottom:20px;
	right:10px;

	width:300px;
	padding:5px 0px 0px 15px;
	min-height:430px;
	max-height:430px;

	border: 3px solid #ff6c00;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	background-color: #faf8f0;
	display:block;
	}
.mapmenu ul.totigi li.m_nasusibu{
	font-size:0px;
}
.mapmenu ul.totigi li.m_nasusibu ul{
	font-size:13px;
	line-height:1.5em;
	overflow: visible;
	}
.mapmenu ul.totigi li.m_nasusibu ul li{
	line-height:1.5em;
	height:20px;
	float:left;
	width:100px;
	}

.mapmenu ul.gunma{
	position: absolute;
	bottom:20px;
	right:10px;

	width:300px;
	padding:5px 0px 0px 15px;
	min-height:430px;
	max-height:430px;

	border: 3px solid #ff6c00;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	background-color: #faf8f0;
	display:block;
	}
.mapmenu ul.gunma li.m_gunmatoubu{
	font-size:0px;
	}
.mapmenu ul.gunma li.m_gunmatoubu ul{
	font-size:13px;
	line-height:1.5em;
	overflow: visible;
	}
.mapmenu ul.gunma li.m_gunmatoubu ul li{
	line-height:1.5em;
	height:20px;
	float:left;
	width:75px;
	}

/* span */
span.chiikilist{
	font-size:12px;
	padding:0;
	margin:0;
	line-height:1.1em;
	}
span.chiikititle{
	display:block;
	padding:0;
	margin:10px 0 5px 0;
	background: url("//www.orikomate.jp/user_data/packages/prototype/img/header/header.png") no-repeat -20px -863px;
	color:#000000;
	font-size:13px;
	font-weight:bold;
	line-height:18px;
	height:18px;
	padding-left:12px;
	}
span.gojyuon{
	letter-spacing:0.06em;
	font-size:12px;
	font-weight:normal;
	}

span.chiikititle2{
	display:block;
	padding:0;
	margin:10px 0 5px 0;
	background: url("//www.orikomate.jp/user_data/packages/prototype/img/header/header.png") no-repeat -20px -1343px;
	color:#fff;
	font-size:13px;
	font-weight:bold;
	line-height:18px;
	height:18px;
	padding-left:12px;
	}
span.gojyuon2{
	letter-spacing:0.06em;
	font-size:12px;
	font-weight:normal;
	}


.map_navigation{
	font-size:18px;
	color:#fff;
	top:90px;
	right:70px;
	position: absolute;
	}

.map_navigation span.mapnavikantou{
	display:none;
	font-weight:bold;
	font-size:18px;
	color:#fffb00;
	cursor:pointer;
	padding:0;
	margin:0;
	}

.map_navigation span.mapnaviarrow{
	display:none;
	font-weight:bold;
	font-size:26px;
	color:#fff;
	padding:0;
	margin:0;
	}

.map_navigation ul{
	position: relative;
	top:-16px;
	left:60px;
	padding:0;
	margin:0;
	font-size:0px;
	}
.map_navigation ul li{
	padding:0;
	margin:0;
	display:inline;
	font-weight:bold;
	font-size:18px;
	}
.map_navigation ul li.mapnavi_tokyo{
	display:none;
	}
.map_navigation ul li.mapnavi_kanagawa{
	display:none;
	}
.map_navigation ul li.mapnavi_saitama{
	display:none;
	}
.map_navigation ul li.mapnavi_chiba{
	display:none;
	}
.map_navigation ul li.mapnavi_ibaragi{
	display:none;
	}
.map_navigation ul li.mapnavi_totigi{
	display:none;
	}
.map_navigation ul li.mapnavi_gunma{
	display:none;
	}







.labelreset{
	background: #eb5e24;

	background: -moz-linear-gradient(top,#eb5e24, #f08300 50%,#eb5505 50%,#eb5e24);
	background: -webkit-gradient(linear, left top, left bottom, from(#eb5e24), color-stop(0.5,#f08300), color-stop(0.5,#eb5505), to(#eb5e24));

	color: #fff;
	padding: 0;
	margin: 0;
	text-align:center;
	width:120px;
	height:40px;
	line-height:40px;

	font-weight:bold;
	font-size:13px;

	top:20px;
	right:10px;
	position: absolute;
	display:none;
	cursor:pointer;

	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	}

.contentinner{
	padding-top:10px;
	padding-bottom:5px;
	background-color:#fbfbfb;
	margin-bottom:10px;
	}
.contentinner a,.contentinnertitle a{
	color:#0066aa;
	}
.contentinner a:hover,.contentinnertitle a:hover{
	color:#eb5505;
	}
.contentinner p{
	padding:0 0px 0 15px;
	margin-bottom:5px!important;
	}
.contentinner h6{
	margin-bottom:0px!important;
	}

.contentinnerh4 h4{
	margin-bottom:0px!important;
	}
.contentinnerh4 p {
	text-align:left;
	background-color:#fbfbfb;
	position: relative;

	padding-top:7px;
	padding-left:15px;
	padding-bottom: .5em;
	border-bottom: 2px solid #ccc;
	margin-bottom:0px!important;
	}
.contentinnerh4 p::after {
	position: absolute;
	bottom: -2px;
	left: 0;
	z-index: 2;
	content: '';
	width: 94%;
	height: 2px;
	background-color: #EA5514;
	}
table.softwaretable{
	width:100%;
	margin-top:0px;
	margin-right:10px;
	margin-left:10px;
	border: 0px solid #ccc;
	margin-bottom:5px!important;
	}
table.softwaretable tr th{
	font-size:13px;
	font-weight:bold;
	background-color: #fbfbfb;
	border-right: 0px solid #ccc;
	border-bottom: 1px solid #ccc;
	}
table.softwaretable tr th.softwaretabletitle{
	width:140px;
	}

table.softwaretable tr td{
	font-size:13px;
	background-color: #fbfbfb;
	border-right: 0px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-top:0px;
	padding-bottom:0px!important;
	}

table.softwaretable tr td{
	vertical-align:middle;
	}
table.softwaretable tr td img{
	margin-top:10px;
	}
table.softwaretable tr td.software_td{
	font-size:13px;
	vertical-align:middle;
	}

table.softwaretable tr td ul{
	margin:0!important;
	padding:0!important;
	margin-top:5px!important;
	margin-bottom:5px!important;
	}
table.softwaretable tr td ul li{
	display:inline;
	padding-right:10px;
	}
ol.privacylist li{
    line-height:1.8em;
    margin-bottom:10px;
    }
table.profiletable tr td{
    line-height:1.8em;
    }

#outline_other h3 {
	color: #000000;
	text-align: left;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.7em;
	height: auto;
	margin: 0;
	padding: 0;
	border: none;
	border-top: 0px solid #000000;
	border-bottom: 0px solid #000000;
	background-color: transparent;
	margin-bottom:5px;
}
#outline_other span {
	display: block;
	height: 25px;
	width: 100%;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
#outline_other h4 {
	padding-left:20px;
	margin-bottom:10px;
	position:relative;
	padding:9px;
	padding-left:15px;
	font-weight: normal;
	font-size: 16px;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-left: 5px solid #eb5505;
	}
#outline_other .breadcrumbs{
    font-size:12px;
    margin-bottom:10px;
    }
img.maintitleimage{
	width:100%;
	border:0px solid #ffffff;
    }

.sp_link_button_area {
	display: none;
}

@media screen and (max-width: 1024px) {
	.sp_link_button_area {
		width: 1136px;
		height: 10rem;
		background: #676767;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.sp_link_button_area a {
		color: #333;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 70%;
		font-size: 2rem;
		font-weight: bold;
		height: 3.5em;
		border-radius: 5px;
		box-sizing: border-box;
	}
}
